RewriteEngine On
# Canonical HTTPS/non-WWW
<IfModule mod_rewrite.c>
  RewriteCond %{HTTPS} off [OR]
  RewriteCond %{HTTP_HOST} ^www\.tuskoelnmerkenich\.de [NC]
  RewriteRule (.*) https://tuskoelnmerkenich.de/$1 [L,R=301]
</IfModule>
